@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background: url(../public//assets/background.png);
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.dark .three-d {
  text-shadow: 0px 5px 0px #533519;
}

.three-d {
  text-shadow: none;
}
